contourpy==1.0.7
cycler==0.11.0
distlib==0.3.7
filelock==3.13.1
fonttools==4.38.0
joblib==1.4.2
kiwisolver==1.4.4
matplotlib==3.6.3
numpy==1.24.1
packaging==23.0
pandas==2.1.4
Pillow==9.4.0
platformdirs==3.11.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3.post1
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
six==1.16.0
threadpoolctl==3.5.0
tzdata==2023.4
virtualenv==20.24.6
